<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <p>Convert long URL to shorter one with a single click. Its easy, simple and absolutely free!</p>

        <form method="post" action="/url">
            <input type="url" placeholder="Enter the URL" name="fullurl" required />
            <button type="submit">Generate </button>
        </form>
    </div>
    
</body>
</html>